.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 140px; 
    padding-right: 140px; 
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}